/**/bin/
/**/.classpath
/**/.project
*.class
tomcat/*.md
tomcat/*.txt
tomcat/LICENSE
tomcat/NOTICE
tomcat/RELEASE-NOTES
tomcat/conf/
tomcat/lib/
tomcat/logs/
tomcat/temp/
tomcat/work/
tomcat/webapps/ROOT/
tomcat/webapps/docs/
tomcat/webapps/examples/
tomcat/webapps/host-manager/
tomcat/webapps/manager
mysql/